* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.25s;
}

a:hover {
  color: #88a;
}

h1 {
  font-size: 4em;
  font-weight: 400;
}

h6 {
  font-size: 1.75em;
  font-weight: 500;
  color: darkgray;
}

.flexed-content {
  display: flex;
  justify-content: flex-start;
}

section {
  padding: 15px;
  padding-bottom: 50px;
}
section h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 10px;
}
section h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 6px;
  background-color: black;
}

.bold {
  font-weight: bold;
}

h2 {
  padding-bottom: 10px;
}

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 5%;
  background-color: #eee;
}
.container h1, .container .subhead {
  padding-left: 15px;
}
.container #box {
  position: absolute;
  top: -21vw;
  right: -21vw;
  background-color: black;
  width: 42vw;
  height: 42vw;
  transform: rotate(45deg);
}
.container .divider {
  height: 2px;
  background-color: darkgray;
}
.container .padded-right {
  margin-right: 14vw;
}
.container #sidebar {
  display: inline;
  width: 25%;
  border-right: 2px solid darkgray;
}
.container #sidebar #contact > * {
  padding-bottom: 15px;
}
.container #sidebar #skills .item {
  position: relative;
  padding-bottom: 25px;
}
.container #sidebar #skills .item .progress-background, .container #sidebar #skills .item .progress-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  border: 1px solid black;
}
.container #sidebar #skills .item .progress-bar {
  border: none;
  height: 10px;
  background-color: darkgray;
}
.container #sidebar #skills .item .percent-100 {
  width: 100%;
}
.container #sidebar #skills .item .percent-90 {
  width: 90%;
}
.container #sidebar #skills .item .percent-80 {
  width: 80%;
}
.container #sidebar #skills .item .percent-70 {
  width: 70%;
}
.container #sidebar #skills .item .percent-60 {
  width: 60%;
}
.container #sidebar #skills .item .percent-50 {
  width: 50%;
}
.container #sidebar #skills .item .percent-40 {
  width: 40%;
}
.container #sidebar #skills .item .percent-30 {
  width: 30%;
}
.container #sidebar #skills .item .percent-20 {
  width: 20%;
}
.container #sidebar #skills .item .percent-10 {
  width: 10%;
}
.container #sidebar #skills .item .percent-5 {
  width: 5%;
}
.container #sidebar #skills .item .percent-1 {
  width: 1%;
}
.container #main-content {
  display: inline;
  width: 75%;
}
.container #main-content #profile {
  padding: 15px, 0;
  padding-right: 14vw;
}
.container #main-content #social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
.container #main-content #social h2 {
  display: block;
  width: 100%;
}
.container #main-content #social .scl-icn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container #main-content #social .scl-icn a img {
  height: 40px;
}
.container #main-content #education .school, .container #main-content #education .work, .container #main-content #experience .school, .container #main-content #experience .work {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: initial;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}
.container #main-content #education .school > p, .container #main-content #education .work > p, .container #main-content #experience .school > p, .container #main-content #experience .work > p {
  width: 20%;
}
.container #main-content #education .school .item, .container #main-content #education .work .item, .container #main-content #experience .school .item, .container #main-content #experience .work .item {
  width: 80%;
}
.container #main-content #education .school .item .subtext, .container #main-content #education .work .item .subtext, .container #main-content #experience .school .item .subtext, .container #main-content #experience .work .item .subtext {
  font-style: italic;
  color: #444;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
