/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Helvetica', sans-serif;
    color: lightgray;
}

body {
    width: 100%;
    height: 100%;
    background-color: #3f3f3f;
}

section {
    padding: 6rem 0 20rem 0;
}

a {
    text-decoration: none;
    color: lightgray;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: #aaa;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #aaa;
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right {
    margin-right: 5rem;
}

header {
    width: 100%;
    height: 100vh;
}

*.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* End Global */

/* Top Navigation Bar */
.top-nav {
    width: 100%;
    height: 18vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #1f1f1f;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1.0.0.1);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    padding: 1;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, #22333B, #F2F4F3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link-border {
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    padding: 1;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
    transition: 0.5s;
}
/* End Top Navigation Bar */

/* Canvas */
#canvas {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
  }
/* Canvas */

/* Nav Toggler */
.menu-toggle {
    position: fixed;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggle.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, #22333B, #F2F4F3);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}
/* End Nav Toggler */

/* Landing Info */
.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 11rem;
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to top, #22333B, #F2F4F3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6 {
    font-size: 2rem;
    font-weight: 300;
}

.landing-text-blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text-blog h1 {
    font-size: 8rem;
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to top, #22333B, #F2F4F3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text-blog h6 {
    font-size: 2rem;
    font-weight: 300;
}
/* End Landing Info */

/* About */
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.about-heading h1 {
    font-size: 8rem;
    opacity: .3;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;
}

.about-details {
    flex: 1.5;
}

.social-media {
    margin-top: 5rem;
}

.social-details {
    font-size: 2rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 300ms;
}

.fa-github-square:hover {
    color: #000000;
}

.fa-twitter-square:hover {
    color: #38a1f3;
}

.fa-linkedin:hover {
    color: #0e76a8;
}
/* End About */

/* Projects */
.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.project-item:last-child {
    margin-bottom: 0;
}

.project-img {
    max-width: 30%;
    flex: 1;
}

.project-description {
    flex: 1;
}

.project-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem, 0;
}

.project-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.project-description .view-details {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.project-description .view-details:hover {
    color: #2f67cd;
}
/* End Projects */

/* Timeline */
.timeline {
	position: relative;
}

.timeline::before {
    content: '';
    background: #1f1f1f;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
	width: 100%;
	margin-bottom: 70px;
}

.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
}

.timeline-item .timeline-content {
    padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #1f1f1f transparent transparent;
}


.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #1f1f1f;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #1f1f1f;
}

.timeline-img {
	width: 20px;
	height: 20px;
	background: rgb(73, 73, 73);
	border-radius: 50%;
	position: absolute;
	left: 50.375%;
	margin-top: 30px;
	margin-left: -15px;
}

.timeline a {
	background: #2e2e2e;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
}

.timeline a:hover {
    background: #3a3a3a;
}

a:hover, :active, :focus {
    background: darken(#000000, 10%);
    text-decoration: none;
}

.timeline-card {
	padding: 0!important;
}

.timeline-card p {
    padding: 0 20px;
}

.timeline-card a {
    margin-left: 20px;
}

.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4));
    background-size: cover;
}

.timeline-img-header {

	height: 200px;
	position: relative;
	margin-bottom: 20px;
}

.timeline-img-header h2 {
    color: #000;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

blockquote {
	margin-top: 30px;
	color: #000;
	border-left-color: #1f1f1f;
	padding: 0 20px;
}

.date {
	background: rgb(71, 71, 71);
	display: inline-block;
	color: rgb(214, 214, 214);
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
/* End Timeline */

/* Contact */
.contact {
    background-color: #3f3f3f;
}

form {
    width: 70%;
    margin: 0 auto;
}

form label {
    font-size: 1.5rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    outline-color: #5da3ff;
}

textarea {
    resize: none;
}

input[type="submit"] {
    width: initial;
    background-color: #555;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 300ms;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: #5da3ff;
}
/* End Contact */

/* Blog */
.blog .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    border-radius: 50px;
}

.blog-description {
    text-align: center;
    margin-bottom: 3rem;
    margin: 5rem 5rem 10rem 5rem;
}

.blog-description h1 {
    font-size: 8rem;
    opacity: .3;
    margin-bottom: 3rem;
}

.blog-description h6 {
    font-size: 2rem;
    font-weight: 300;
}

.blog-description p {
    text-align: left;
    margin-bottom: 3rem;
}

.blog-description a {
    text-align: center;
    font-size: 2rem;
}

.blog-description a:hover {
    color: #aaa;
}
/* End Blog */

/* Footer */
.copyright {
    width: 100%;
    text-align: center;
    background-color: #111;
    padding: 1rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -3.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    
}

.up i {
    color: #111;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}
/* End Footer */



/* Animations */
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(114, 114, 114, 0.99)
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(114, 114, 114, 0)
    }
    100%{
        box-shadow: 0 0 0 0 rgba(114, 114, 114, 0)
    }
}
/* End Animations */

/* Media Queries */
@media screen and (max-width: 768px) {
    .landing-text h1 {
        font-size: 8rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    .top-nav {
        height: 100vh;
    }

    .nav-list {
        flex-direction: column;
    }

    li {
        margin: 2rem 0;
    }

    .nav-link {
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 8rem;
    }

    .about-heading h6 {
        font-size: 3rem;
    }

    .about-details .nav-list {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .timeline ul {
        margin: 0 0 0 auto;
    }

    .timeline .date::before {
        left: -20rem;
    }

    .timeline .date::after {
        left: -5.6rem;
    }

}

@media screen and (max-width: 600px) {
    .menu-toggle {
        top: 2rem;
        bottom: 2rem;
    }

    .landing-text h1 {
        font-size: 6rem;
    }

    .landing-text h6 {
        font-size: 1.4rem;
    }

    .nav-link {
        font-size: 3.5rem;
    }

    .about .container {
        flex-direction: column;
    }

    .profile-img {
        margin: 0 0 7rem 0;
    }

    .project-item {
        flex-direction: column;
    }

    .project-img {
        margin: 0 0 2rem 0;
        order: 1;
    }

    .project-description {
        margin: 0;
        order: 2;
    }

    .timeline p {
        font-size: 1.6rem;
    }

    .timeline .date::before {
        font-size: 1.3rem;
    }

    form {
        width: 100%;
    }

    .up {
        right: 2rem;
    }

}

/* End Media Queries */