@import "_base.scss";

$boxSize: 42vw;

$sidebarWidth: 25%;
$mainContentWidth: 100% - $sidebarWidth;
$dateWidth: 20%;
$dateContentWidth: 100% - $dateWidth;
$progressBarHeight: 10px;

@mixin flex($justification, $alignment, $direction: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justification;
    align-items: $alignment;
    flex-wrap: $wrap;
}

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 5%;
    background-color: $backgroundColor;

    h1, .subhead {
        padding-left: $default-padding;
    }

    #box {
        position: absolute;
        top: -$boxSize / 2;
        right: -$boxSize / 2;
        background-color: $mainColor;
        width: $boxSize;
        height: $boxSize;
        transform: rotate(45deg);
    }

    .divider {
        height: 2px;
        background-color: $secondaryColor;
    }

    .divider:first {
        @extend .padded-right;
    }

    .padded-right {
        margin-right: $boxSize / 3;
    }

    #sidebar {
        display: inline;
        width: $sidebarWidth;
        border-right: 2px solid $secondaryColor;

        #contact > * {
            padding-bottom: $default-padding;
        }

        #skills {

            .item {
                position: relative;
                padding-bottom: $progressBarHeight + $default-padding;

                .progress-background, .progress-bar {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: $progressBarHeight;
                    border: 1px solid black;
                }

                .progress-bar {
                    border: none;
                    height: $progressBarHeight;
                    background-color: $secondaryColor;
                }

                .percent-100 { width: 100%; }
                .percent-90 { width: 90%; }
                .percent-80 { width: 80%; }
                .percent-70 { width: 70%; }
                .percent-60 { width: 60%; }
                .percent-50 { width: 50%; }
                .percent-40 { width: 40%; }
                .percent-30 { width: 30%; }
                .percent-20 { width: 20%; }
                .percent-10 { width: 10%; }
                .percent-5 { width: 5%; }
                .percent-1 { width: 1%; }
            }

            // ul {
            //     li {
            //         font-size: 1.1em;
            //         line-height: 2em;
            //         list-style: none;
            //         display: inline;
            //     }

            //     li::after {
            //         content: ' •';
            //     }

            //     li:last-of-type::after {
            //         content: '';
            //     }
            // }
        }
    }

    #main-content {
        display: inline;
        width: $mainContentWidth;

        #profile {
            padding: $default-padding, 0;
            padding-right: $boxSize / 3;
        }

        #social {
            @include flex(space-between, space-between, $wrap: wrap);

            h2 {
                display: block;
                width: 100%;
            }

            .scl-icn {
                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        height: 40px;
                    }
                }
            }
        }

        #education, #experience {
            .school, .work {
                @include flex(flex-start, initial);
                margin-bottom: $default-padding;

                > p {
                    width: $dateWidth;
                }

                .item {
                    width: $dateContentWidth;

                    .subtext {
                        font-style: italic;
                        color: #444;
                    }
                }
            }
        }
    }
}